body {
    font-family: Inter;
    max-width: 100%;
    margin: 0 3%;
}

h1{
    color: #092C4C;
}

.image-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.img-con-01,
.img-con-02,
.img-con-03,
.img-con-04{
  width: 23%;
}

.img-con-01 img,
.img-con-02 img,
.img-con-03 img,
.img-con-04 img{
    width: 100%;
  }

.tables {
    margin-top: 48px;
}

.pagination p:first-child {
    color: #BDBDBD;
    font-weight: 500;
    font-size: 16px;
}

.pagi-content p:first-child {
    background-color: #223354;
}

.pagi-content {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: end;
}

.pagi-content p {
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border: 1px solid #828282;
    border-radius: 4px;
    text-align: center;
    padding-top: 16px;
    font-weight: 700;
    font-size: 14px;
    color: #828282;
}

.model-banner {
    display: flex;
    gap: 5%;
    margin-top: 40px;
    width: 100%;
}

.model{
    width: 50%;
}

.banner{
    width: 50%;
}

.banner-content {
    height: 242px;
    background-color: #223354;
    border-radius: 8px;
    color: #FFFFFF;
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
}

.banner-img img {
    margin-top: 30px;
}

.banner-con-01 {
    width: 426px;
    height: 168px;
    padding-left: 24px;
}

.font-p {
    color: #BDBDBD;
    font-weight: 500;
    font-size: 16px;
}

.font-h2 {
    color: #223354;
    font-size: 24px;
    font-weight: 700;
}

.font-con {
    font-size: 16px;
    font-weight: 400;
    color: #4F4F4F;
    width: 40%;
    height: 54px;
}

.p-con {
    color: #000000;
    font-weight: 700;
    font-size: 16px;
}


table tr td button,
.banner-con-01 button {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    width: 88px;
    height: 49px;
    border-radius: 8px;
    background-color: #1AB4D7;
    border: none;
}

td {
    width: 161px;
    height: 63px;
}

tr td:first-child {
    width: 62px;
    padding-left: 24px;
}

table {
    border-collapse: collapse;
    padding-left: 10px;
    width: 100%;
}

tr:nth-child(odd) {
    background-color: #E0E0E066;
}

tr:first-child {
    background-color: #223354;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
}

tr {
    font-weight: 400;
    font-size: 16px;
    color: #4F4F4F;
    border-radius: 4px;
}

tr td:last-child{
    text-align: center;
}


.model-logo {
    display: inline-block;
    width: 96px;
    height: 96px;
    background-color: #E0E0E0;
    border-radius: 8px;
}

.model-content {
    box-shadow: 0px 2px 4px 0px #0000003D;
    width: 78%;
    height: fit-content;
    border-radius: 8px;
}

.kk-model-con-01{
    text-align: center  ;
    padding: 10%;
}

.model-con-01 {
    text-align: center;
}

.model-content button {
    width: 100%;
    height: 55px;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    border: none;
    background-color: #223354;
}

.acc-top {
    width: 100%;
    /* height: 163px; */
    border: 1px solid #BDBDBD;
    border-radius: 8px;
}

.acc-top p {
    color: #223354;
    font-weight: 700;
    font-size: 16px;
    padding-left: 24px;
}

.acc-bottom {
    width: 100%;
    height: 181px;
}

.acc-bottom p {
    box-shadow: 0px 2px 16px 0px #0000001A;
    height: 55px;
    color: #223354;
    font-weight: 700;
    font-size: 16px;
    padding-left: 24px;
    padding-top: 16px;
    box-sizing: border-box;
    margin-bottom: 8px;
}

.accordion {
    margin-top: 56px
}

.acc-content {
    display: flex;
    gap: 29px;
}

.acc-left{
    width: 50%;
}

.acc-right {
    width: 50%;
}

.acc-right-con h4 {
    /* border-bottom: 2px solid #BDBDBD; */
    margin: 0;
    color: #223354;
    font-weight: 700;
    font-size: 16px;
    padding-left: 24px;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #BDBDBD;
    border-collapse: collapse;
}



.acc-right-con h4:first-child {
    background-color: #223354;
    color: #FFFFFF;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.acc-right-con h4:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.acc-right-con p {
    padding: 24px;
    background-color: #E0E0E0;
    margin: 0;
}